#a input{
	width:300px;
	height:30px;
	border-radius:10px;
}

#b {
	background-color:orange;
	
	
}

#c {
	background-color:green;
	
	
}

#d{
	background-color:blue;
	
	
}

#e {
	background-color:lightorange;
	
	
}