#b1  {
 height:100px;
 width:100px;
 background-color:blue;
 float:left;
 }
 
#b2  {
 height:100px;
 width:100px;
 background-color:red;
 float:left;
 }
 
 #b3  {
 height:100px;
 width:100px;
 background-color:yellow;
 float:left;
 }
 
 
 